@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url(../assets/img/background.jpg);
  background-repeat: repeat-y;
  background-size: contain;
  font-size: 100%;
  /* opacity: 0.5; */
  /* resolver problema com a opacidade */
}

h1,
h2,
h3 {
  font-family: "Caveat Brush", cursive;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
  text-align: left;
}

h3 {
  font-size: 1.8rem;
  text-align: left;
}

section {
  margin: 3% 3%;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

a:hover {
  color: #AC7FDB;
}

li {
  list-style: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 150%;
}

.p-robo-light {
  font-weight: 300;
}

.p-robo-italic {
  font-style: italic;
}

.p-robo-bold {
  font-weight: 700;
}

.p-mono {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.p-mono .p-mono-bold {
  font-weight: 700;
}

.p-small {
  font-size: 0.9rem;
}

.span-asterisk {
  font-family: "Caveat Brush", cursive;
  font-size: 2.5rem;
}

strong {
  background-color: #ECDAFF;
  border: 2px solid #ECDAFF;
}

.yellow-bold {
  background-color: #FFF3B5;
  font-weight: bold;
}

label {
  font-family: "Roboto Mono", monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  /* position: absolute;
    z-index: 99; */
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.div-width {
  width: 70%;
}

.div-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% auto;
}

.div-img .img-api {
  width: 50%;
}

.div-img .img-sol {
  width: 50%;
}

.div-img .img-intro {
  width: 40%;
}

.div-img .img-answer {
  width: 40%;
}

.div-img .img-404 {
  width: 30%;
}

.nav-back {
  background-color: #FFF3B5;
  padding: 2% 0;
}

.nav-section {
  text-align: center;
}

.nav {
  width: 80%;
  margin: 0 auto;
  padding: 0.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}

.nav li {
  font-family: 'Caveat Brush', cursive;
}

.nav .line-through {
  text-decoration: line-through;
}

.nav ul {
  font-family: 'Caveat Brush', cursive;
  cursor: pointer;
}

.nav ul span:hover {
  font-weight: bold;
}

.nav ul li {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  padding: 4% 2%;
}

.nav .nav-active {
  display: none;
  position: absolute;
  z-index: 999;
}

.nav .nav-active li {
  background-color: #ECDAFF;
}

.setOfCards {
  height: 42mm;
  width: 31mm;
  position: relative;
}

.card {
  height: inherit;
  width: inherit;
  background: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(158, 158, 158, 0.3);
          box-shadow: 0 0 6px 0 rgba(158, 158, 158, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 25% bottom;
          transform-origin: 25% bottom;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.setOfCards:hover .card:nth-child(1) {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.setOfCards .card:hover:nth-child(1) {
  -webkit-transform: rotate(-15deg) translateY(-20px);
          transform: rotate(-15deg) translateY(-20px);
}

.setOfCards:hover .card:nth-child(2) {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.setOfCards .card:hover:nth-child(2) {
  -webkit-transform: rotate(-5deg) translateY(-20px);
          transform: rotate(-5deg) translateY(-20px);
}

.setOfCards:hover .card:nth-child(3) {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.setOfCards .card:hover:nth-child(3) {
  -webkit-transform: rotate(5deg) translateY(-20px);
          transform: rotate(5deg) translateY(-20px);
}

.setOfCards:hover .card:nth-child(4) {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.setOfCards .card:hover:nth-child(4) {
  -webkit-transform: rotate(15deg) translateY(-20px);
          transform: rotate(15deg) translateY(-20px);
}

.setOfCards:hover .card:nth-child(5) {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.setOfCards .card:hover:nth-child(5) {
  -webkit-transform: rotate(25deg) translateY(-20px);
          transform: rotate(25deg) translateY(-20px);
}

.card[data-card-color="club"],
.card[data-card-color="spade"] {
  color: black;
}

.card[data-card-color="heart"],
.card[data-card-color="diamond"] {
  color: red;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  font-size: 1.0em;
  line-height: .8;
  text-align: center;
  white-space: pre;
}

.card::before {
  top: 15px;
  left: 15px;
}

.card::after {
  bottom: 15px;
  right: 15px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.card[data-card-color="club"]::before,
.card[data-card-color="club"]::after {
  content: attr(data-card-index) "\a♣";
}

.card[data-card-color="spade"]::before,
.card[data-card-color="spade"]::after {
  content: attr(data-card-index) "\a♠";
}

.card[data-card-color="heart"]::before,
.card[data-card-color="heart"]::after {
  content: attr(data-card-index) "\a♥";
}

.card[data-card-color="diamond"]::before,
.card[data-card-color="diamond"]::after {
  content: attr(data-card-index) "\a♦";
}

.card-pip {
  text-align: center;
  font-size: 1.6em;
  line-height: .75;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.yellow-box {
  width: 50vw;
  margin: 3% auto;
  background-color: #FFF3B5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.yellow-box p {
  font-size: 0.85rem;
  padding: 4%;
}

.black-box {
  width: 40vw;
  height: 50vh;
  margin: 3% auto;
  background-color: black;
  font-size: 0.85rem;
  color: #ffffff;
}

.black-box button {
  background-color: #ECDAFF;
  padding: 2%;
  border: none;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  cursor: pointer;
  margin: 4% auto;
}

.black-box .option-black-box {
  padding: 2% 0;
}

.black-box .option-black-box div {
  margin-top: 2%;
}

.black-box .option-black-box label {
  margin-left: 1%;
}

.black-box .yellow-answer {
  width: 80%;
  height: auto;
  margin-left: 2%;
  background-color: #FFF3B5;
  color: black;
  font-family: "Roboto Mono", monospace;
  padding: 4%;
}

form {
  padding: 5%;
}

.div-style {
  margin-top: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.div-style textarea {
  width: 60%;
  height: 7vh;
}

.div-style select, .div-style textarea {
  margin-left: 2%;
}

a.tooltip {
  position: relative;
}

a.tooltip:after {
  content: attr(data-tooltip);
  visibility: hidden;
  background-color: #ECDAFF;
  color: black;
  font-size: 0.8rem;
  padding: 1%;
  font-family: "Roboto";
  position: absolute;
  left: 100%;
  z-index: 999;
  width: 130%;
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

a.tooltip:hover:after {
  visibility: visible;
}

a.tooltip:hover:after,
a.tooltip:hover:before {
  opacity: 1;
}

.footer-style {
  background-color: #ECDAFF;
  height: 30vh;
  overflow: hidden;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer img {
  width: 15%;
}

.shape .envelope {
  margin-left: 15%;
  position: relative;
  background: #AC7FDB;
  width: 6.0707rem;
  height: 3.9281rem;
  border-radius: 0 0 0.44638rem 0.44638rem;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.17);
}

.shape .envelope:before, .shape .envelope:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 2rem 3.1rem;
}

.shape .envelope:before {
  border-bottom-color: #AC7FDB;
  top: -100%;
}

.shape .envelope:after {
  border-right-color: #ECDAFF;
  border-left-color: #ECDAFF;
  border-bottom-color: #AC7FDB;
  border-radius: 0 0 0.3571rem 0.3571rem;
  -webkit-box-shadow: 0px 0.07143rem 0.07143rem 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0.07143rem 0.07143rem 0px rgba(0, 0, 0, 0.25);
}

.shape .paper {
  background: #ffffff;
  position: absolute;
  left: 0.4286rem;
  top: -1.257rem;
  -webkit-transition: 0.5s top;
  transition: 0.5s top;
  margin: 0 auto;
  width: 5.3565rem;
  height: 3.571rem;
  border-radius: 0.3571rem;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.shape .paper:before, .shape .paper:after {
  content: "";
  position: absolute;
  left: 0.8571rem;
  background: #ECDAFF;
  height: 0.23807rem;
  border-radius: 0.3571rem;
}

.shape .paper:before {
  top: 0.8571rem;
  width: 0.08928rem;
}

.shape .paper:after {
  right: 0.89275rem;
  top: 0.89275rem;
  -webkit-box-shadow: 0 0.5714rem 0 #ECDAFF, 0 1.143rem 0 #ECDAFF, 0 1.714rem 0 #ECDAFF;
          box-shadow: 0 0.5714rem 0 #ECDAFF, 0 1.143rem 0 #ECDAFF, 0 1.714rem 0 #ECDAFF;
}

.shape .envelope:hover {
  cursor: pointer;
}

.shape .envelope:hover .paper {
  top: -2.257rem;
  -webkit-transition: 0.5s top;
  transition: 0.5s top;
}

.to-top {
  width: 7%;
  padding: 1%;
  background: #000;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

.to-top a {
  font-size: 0.95rem;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */