@import url("https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url(../assets/img/background.jpg);
  background-repeat: repeat-y;
  background-size: contain;
  font-size: 100%;
  /* opacity: 0.5; */
  /* resolver problema com a opacidade */
}

h1,
h2,
h3 {
  font-family: "Caveat Brush", cursive;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
  text-align: left;
}

h3 {
  font-size: 1.8rem;
  text-align: left;
}

section {
  margin: 3% 3%;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: $lilac-darken;
  }
}

li {
  list-style: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 150%;
}

.p-robo-light {
  font-weight: 300;
}

.p-robo-italic {
  font-style: italic;
}

.p-robo-bold {
  font-weight: 700;
}

.p-mono {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;

  .p-mono-bold {
    font-weight: 700;
  }
}

.p-small {
  font-size: 0.9rem;
}

.span-asterisk {
  font-family: "Caveat Brush", cursive;
  font-size: 2.5rem;
}

strong {
  background-color: $lilac-lighten;
  border: 2px solid $lilac-lighten;
  
}

.yellow-bold {
  background-color: $yellow-lighten;
  font-weight: bold;
}

label {
  font-family: "Roboto Mono", monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
  // text-align: center;
  text-decoration-style: none;
  /* position: absolute;
    z-index: 99; */
}
