.w-box-form {
    width: 50vw;
    height: 60vh;
}

.w-box-quizz {
    width: 45vw;
    height: 28vh;
}

.black-box {
    margin: 3% auto;
    background-color: black;
    // font-family: "Roboto Mono", monospace;
    font-size: $box-font; 
    color: #ffffff;
    padding: 3%;
    // display: flex;
    // flex-wrap: wrap;

    .d-flex {
        display: flex;
    }

    label {
        font-size: 0.8rem;
    }

    button {
        @include button($lilac-lighten);
        margin: 4% auto;
    }

    .option-black-box {
        padding: 2% 0;

        div {
            margin-top: 2%;
        }

        label {
            // margin-left: 1%;
            font-size: 0.8rem;
        }
    }

    .yellow-answer {
        width: 80%;
        height: auto;
        margin-left: 2%;
        background-color: $yellow-lighten;
        color: black;
        font-family: "Roboto Mono", monospace; 
        // font-size: $box-font;
        padding: 4%;
    }
    

}

// form {
//     padding: 5%; 
// }

.div-style {
    margin-top: 2.5%;
    display: flex;
    align-content: flex-end;

    textarea {
        width: 60%;
        height: 7vh;
    }

    select, textarea {
        margin-left: 2%;
    }
}

.question-box {
    width: 35%;
    // margin-left: 2%;
}

.margin-right {
    margin-right: 2%;
}

// .option-black-box {
//     @include flex(center, center);
// }