.black-box {
    width: 40vw;
    height: 50vh;
    margin: 3% auto;
    background-color: black;
    // font-family: "Roboto Mono", monospace;
    font-size: $box-font; 
    color: #ffffff;

    button {
        @include button($lilac-lighten);
        margin: 4% auto;
    }

    .option-black-box {
        padding: 2% 0;

        div {
            margin-top: 2%;
        }

        label {
            margin-left: 1%;
        }
    }

    .yellow-answer {
        width: 80%;
        height: auto;
        margin-left: 2%;
        background-color: $yellow-lighten;
        color: black;
        font-family: "Roboto Mono", monospace; 
        // font-size: $box-font;
        padding: 4%;
    }
    

}

form {
    padding: 5%;   
}

.div-style {
    margin-top: 2.5%;
    display: flex;
    align-content: flex-end;

    textarea {
        width: 60%;
        height: 7vh;
    }

    select, textarea {
        margin-left: 2%;
    }
}

// .option-black-box {
//     @include flex(center, center);
// }