.yellow-box {
    width: 50vw;
    margin: 0 auto;
    background-color: $yellow-lighten;
    @include flex(center, center); 

    p {
        font-size: $box-font;
        padding: 0 4%;
    }
    
}