@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin button($color) {
    background-color: $color;
    padding: 2%;
    border: none;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin box-shadow ($top, $right, $bottom, $left, $color){
    -webkit-box-shadow: $top $right $bottom $left $color;
    -moz-box-shadow: $top $right $bottom $left $color;
     box-shadow: $top $right $bottom $left $color;
}