// cores
$lilac-darken: #AC7FDB;
$lilac-lighten: #ECDAFF;
$yellow-darken: #FFEA7D;
$yellow-lighten: #FFF3B5;

$white: #ffffff;
$light-blue: #ECDAFF;
$blue: #ECDAFF;
$dark-blue: #AC7FDB;

// fontes
$box-font: 0.85rem;

// setup
$height: 3.571rem;
$width: $height;